/* ================= Default Light Mode ================= */
.app-window {
  width: 500px;
  height: 300px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 150px;
  min-height: 100px;
  color: #000; /* text color */
  transition:   background-color 0.2s;
  backdrop-filter: blur(20px);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
}

.app-window.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.title-bar {
  height: 30px;
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  align-items: center;
  padding: 0 8px;
  padding-left: 15px;
  user-select: none;
  color: #000;
  cursor: default;
  transition:   background-color 0.2s;
}

.title-bar button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  margin-right: 6px;
  cursor: default;
}

.close-window { background: #ff5f56; transition: 0.15s;}
.hide-window { background: #ffbd2e; transition: 0.15s;}
.fullscreen-window { background: #27c93f; transition: 0.15s;}

.close-window:hover { background: #ff5f56; transform: scale(1.2);}
.hide-window:hover { background: #ffbd2e; transform: scale(1.2);}
.fullscreen-window:hover { background: #27c93f; transform: scale(1.2);}

.window-content {
  flex: 1;
  padding: 12px;
  color: rgb(0, 0, 0);
}

.hidden { display: none; }

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
}

/* ================= Dark Mode ================= */
.app-window.dark-mode {
  background: rgba(46, 46, 46, 0.8);
  border: 1px solid #444;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.app-window.dark-mode .title-bar {
  background: rgba(59, 59, 59, 0.9);
  color: #fff;
}

.app-window.dark-mode .window-content {
  color: #fff;
}
