#browser-window .window-content input {
  position: fixed;
  display: flex;
  width: 20%;
  padding: 0 10px;
  height: 10%;
  max-height: 40px;
  font-size: 20px;
  border-radius: 20px;
  border: solid 1px rgb(77, 77, 77);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  bottom: 0px;
  justify-self: center;
  transition: 0.2s;
  opacity: 0.5;
}
#browser-window .window-content input:focus {
  width: 40%;
  opacity: 1;
}
#browser-window .window-content button {
  position: fixed;
  display: flex;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  border-radius: 20px;
  border: solid 1px rgb(77, 77, 77);
  background-color: rgba(255, 255, 255, 0.5);
  width: 10%;
  max-width: 40px;
  aspect-ratio: 1/1;
  right: 27%;
  justify-content: center;
  align-items: center;
}
#browser-window .window-content iframe {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}