body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(0px);
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  transition:1s, background-image 1s;
  z-index: 1;
}
input:focus {
  outline: none;
}
#loading-animation {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  animation-name: loading;
  animation-duration: 9s;
  animation-iteration-count: 1;
}
#loading-animation video {
  width: 20%;
}
@keyframes loading {
  0% {opacity: 1;}
  40% {opacity: 0.5;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}
#background {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  z-index: 0;
}
#menu-bar {
  display: flex;
  position: fixed;
  width: 99%;
  top: 0;
  left: 0;
  height: 30px;
  padding: 0 0.5%;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  align-items: center;
  color: white;
  font-size: 15px;
  justify-content: space-between;
  transition: 0.2s;
}
body.dark-mode #menu-bar {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}
#menu-bar div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#menu-bar div button {
  background-color: transparent;
  border: none;
  height: 30px;
  transition: 0.15s;
  border-radius: 5px;
}
body.dark-mode #menu-bar div button {
  color: white;
}
#menu-bar div button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}
#menu-bar div button:active {
  background-color: rgba(128, 128, 128, 0.4);
}
#menu-bar div button ion-icon {
  font-size: 20px;
}
#dynamic-island {
  display: flex;
  position: fixed;
  justify-self: center;
  top: 0px;
  width: 96px;
  height: 26px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  border: solid 2px rgba(100, 100, 100, 0.5);
  transition: 0.15s;
}
#dynamic-island:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
#control-center {
  position: fixed;
  display: flex;
  width: 300px;
  aspect-ratio: 4/5;
  background-color: rgb(255, 255, 255, 0.2);
  top: 40px;
  right: 30px;
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  transition: 0.2s;
  border: solid 1px transparent;
  backdrop-filter: blur(10px);
}
body.dark-mode #control-center {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.5);
}
#control-center button {
  width: 42%;
  height: 60px;
  border-radius: 10px;
  margin: 0;
  margin-top: 10px;
  border: solid 1px transparent;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  font-size: 15px;
}
body.dark-mode #control-center button {
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
#wallpapers {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 65%;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 20px;
  margin-bottom: 10px;
}
#wallpapers::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
#wallpapers::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
#wallpapers::-webkit-scrollbar {
  width: 5px;               /* scrollbar width */
}
#wallpapers img {
  width: 48%;
  aspect-ratio: 3/2;
  border-radius: 10px;
}
#dock {
  position: fixed;
  display: flex;
  justify-content: center;
  min-width: 100px;
  background-color: rgb(255, 255, 255, 0.2);
  justify-self: center;
  bottom: 20px;
  border-radius: 32px;
  padding: 10px;
  height: 70px;
  gap: 10px;
  backdrop-filter: blur(10px);
  transition: 0.2s;
  border: solid 2px rgba(0, 0, 0, 0.15);
}
body.dark-mode #dock {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 2px rgba(255, 255, 255, 0.15);
}
#dock:hover {
  padding: 10px 15px;
}
#dock .app-icon {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 22px;
  transition: margin 0.3s, transform 0.15s, 0.2s;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  cursor: default;
}
#dock .app-icon:hover {
  transform: scale(1.3) translateY(-10px);
  margin: 0 15px;
}
body.dark-mode #dock .app-icon {
  background-color: rgb(34, 34, 34);
}
#settings {
  background-image: url("images/app_icons/settings.jpg");
}
body.dark-mode #settings {
  background-image: url("images/app_icons/dark_mode/settings.PNG");
}
#app-store {
  background-image: url("images/app_icons/app_store.jpg");
}
#browser {
  background-image: url("images/app_icons/safari.png");
  background-position: center;
}
body.dark-mode #app-store {
  background-image: url("images/app_icons/dark_mode/app_store.PNG");
}
#photos {
  background-image: url("images/app_icons/photos.png");
}
#calculator {
  background-image: url("images/app_icons/calculator.jpg");
}
body.dark-mode #calculator {
  background-image: url("images/app_icons/dark_mode/calculator.PNG");
}
#mail {
  background-image: url("images/app_icons/mail.jpg");
}
body.dark-mode #mail {
  background-image: url("images/app_icons/dark_mode/mail.PNG");
}
body.dark-mode #calendar-icon-date {
  color: white;
}
#files {
  background-image: url("images/app_icons/files.png");
}