.clock-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px grey;
  background-color: rgba(124, 124, 124, 0.5);
  font-size: 30px;
  transition: 0.3s;
  color: black;
}
body.dark-mode .clock-btn {
  background-color: rgba(82, 82, 82, 0.5);
  border: solid 2px rgb(77, 77, 77);
}
body.dark-mode .clock-btn {
  color: white;
}
.clock-btn:active {
  transition: 0.05s;
  border-radius: 200px 150px 200px 130px;
  transform: scale(1.1) translateX(10px) translateY(-2px);
}
.clock-btn ion-icon {
  font-size: 20px;
}
#clock-start-btn {
  background-color: rgba(37, 189, 37, 0.432);
  color: rgb(116, 173, 31);
  border: solid 2px rgb(111, 165, 30);
}
body.dark-mode #clock-start-btn {
  background-color: rgba(42, 189, 42, 0.199);
  color: rgb(87, 129, 23);
  border: solid 2px rgb(87, 129, 23);
}
#clock-reset-btn {
  background-color: rgba(212, 114, 49, 0.507);
  color: rgb(207, 126, 49);
  border: solid 2px rgb(230, 135, 48);
}
body.dark-mode #clock-reset-btn {
  background-color: rgba(189, 100, 42, 0.199);
  color: rgb(150, 91, 35);
  border: solid 2px rgb(150, 91, 35);
}
