.clock-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px grey;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  transition: 0.3s;
}
.clock-btn:active {
  transition: 0.05s;
  border-radius: 200px 150px 200px 130px;
  transform: scale(1.1) translateX(10px) translateY(-2px);
}
.clock-btn ion-icon {
  font-size: 20px;
}