#settings-window {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  backdrop-filter: blur(100px);
  width: 600px;
  height: 400px;
  min-width: 400px;
  min-height: 250px;
}
body.dark-mode #settings-window {
  background-color: transparent;
  background-color: rgba(44, 44, 44, 0.4);
  color: white;
}
#settings-window .window-content {
  background: linear-gradient(transparent);
  display: flex;
}
#settings-window .window-content .settings-menu {
  min-width: 150px;
  width: 20%;
  max-width: 300px;
  height: 100%;
  border-right: solid 1px rgba(0, 0, 0, 0.5);
}
body.dark-mode #settings-window .window-content .settings-menu {
  border-right: solid 1px rgba(255, 255, 255, 0.5);
}
#settings-window .window-content .settings-menu button {
  width: 100%;
  transition: 0.15s;
  padding: 10px 0px 5px 7px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}
body.dark-mode #settings-window .window-content .settings-menu button {
  color: white;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
#settings-window .window-content .settings-menu button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body.dark-mode #settings-window .window-content .settings-menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.settings-info {
  width: 100%;
  height: 100%;
}
.settings-info h1 {
  font-size: 30px;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  border-bottom: solid 1px black;
}
body.dark-mode .settings-info h1{
  border-bottom: solid 1px white;
}
.settings-info #settings-info-taskbar {
  width: 100%;
  height: 100%;
}
#settings-info-taskbar-shape {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
#settings-info-taskbar-shape p {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}
body.dark-mode #settings-info-taskbar-shape p {
  color: white;
}
#settings-info-taskbar-shape button {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 50px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
body.dark-mode #settings-info-taskbar-shape button {
  border: solid 1px rgba(255, 255, 255, 0.5);
  color: white;
}