#photos-window .window-content {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

#photos-window .window-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

#photos-window .window-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

#photos-window .window-content::-webkit-scrollbar {
  width: 5px;
  /* scrollbar width */
}

#photos-window .window-content div {
  gap: 0px;
  width: 90%;
  min-width: 422px;
}

#photos-window .window-content div img {
  min-width: 100px;
  width: 9%;
  max-width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: solid 1px white;
  outline: solid 1px rgb(255, 255, 255);
  margin: 0;
  transition: 0.15s;
  border-radius: 0px;
}

#photos-window .window-content div img:hover {
  transform: scale(1.05);
}

#files-window .window-content {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#files-window .window-content::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.3);
  border-radius: 10px;
}

#files-window .window-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 119, 119, 0.5);
  border-radius: 10px;
}

#files-window .window-content::-webkit-scrollbar {
  width: 5px;
  /* scrollbar width */
}

#files-window .window-content div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  height: 200px;
  cursor: default;
}

#files-window .window-content div img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  border-radius: 20px;
}

#files-window .window-content div p {
  width: 100px;
  text-align: center;
  margin: 0;
}

#browser-window {
  width: 50%;

  min-width: 300px;
  height: 60%;
  min-height: 200px;
}

#terminal {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 30px;
}

body.dark-mode #terminal {
  color: rgb(255, 255, 255);
}

#terminal-window {
  backdrop-filter: blur(15px);
}

#terminal-window .window-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: text;
  justify-content: center;
}

#terminal-window .window-content input {
  width: 95%;
  height: 30px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  margin-top: 2%;
}
#run-terminal-btn {
  bottom: 5%;
  display: flex;
  position: fixed;
  background-color: rgb(168, 168, 168,0.5);
  border: solid 2px rgba(255, 255, 255, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 200px;
  right: 5%;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  transition: 0.2s;
  color: white;
}
#run-terminal-btn:active {
  transition: 0.05s;
  transform: scale(1.1) translateX(10px) translateY(-2px);
  border-radius: 200px 150px 200px 130px;
}