#photos-window .window-content {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#photos-window .window-content img {
  min-width: 200px;
  width: 10%;
  max-width: 400px;
  aspect-ratio: 5/3;
  border-radius: 10px;
}

#files-window .window-content {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#files-window .window-content::-webkit-scrollbar-thumb {
  background-color: rgba(99, 99, 99, 0.3);
  border-radius: 10px;
}
#files-window .window-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 119, 119, 0.5);
  border-radius: 10px;
}
#files-window .window-content::-webkit-scrollbar {
  width: 5px;               /* scrollbar width */
}
#files-window .window-content div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  height: 200px;
  cursor: default;
}
#files-window .window-content div img {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  border-radius: 20px;
}
#files-window .window-content div p {
  width: 100px;
  text-align: center;
  margin: 0;
}